*, *::after, *::before {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}


body {
  font-family: montserrat;
  background-color: #F3F5F6;

}

body > header {
  position: sticky;
  top: -33px;

}


/* top bar*/

body > header > p {
  padding: 8px 0;
  font-size: 13px;
  color: white;
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  height: 33px;
  background-color: #00BADB;

}

/* Navigatie*/
body > header nav {
display: flex;
align-items: center;
background: #1E2D7D;
height: 4em;
padding: 0 1em;
}

body > header nav button {
  height: 1.4em;
  width: 1.4em;
  border: none;
  appearance: none;
  background: none;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

body > header nav button img {
width: 100%;
height: auto;
}

body > header nav > a {
  width: 10em;
  display: block;
  margin-left: .5em;

}

body > header nav > a img {
  width: 100%;
  height: auto;
  display: block;
}

body > header nav > ul {
  display: flex;
  margin-left: auto;
}

body > header nav > ul li{
margin-left: .6em;
}

body > header nav > ul a {
  height: 2em;
  width:  2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

body > header nav > ul a img {
  height: auto;
  width: 1.4em;
}

main section:first-of-type img {
  
  width: 100%;
  height: 170px;

}


main section:nth-of-type(2) h1 {
  color: #1E2D7D;
  font-family: montserrat;
  margin: 1em 0 .5em .8em;
}

main section:nth-of-type(2) p {
  color: #677279;
  font-family: montserrat;
  margin: 1em 0 3em 1.7em;
  font-size: 12px;
}

main section:nth-of-type(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

hr {
  width: 100%;
margin: 0;
height: .1em;
background-color: lightgrey;
}

main section:nth-of-type(3) {
  background-color: white;
}

main section:nth-of-type(3) button {
  border: none;
  appearance: none;
  background: none;
  cursor: pointer;
  margin: .4em 3em .4em 2em;
  color: #677279;
  text-align: center;
}



/* derde button */
main section:nth-of-type(3) button:nth-of-type(3) {
margin-right: 0;
margin-left: 3em;

}

/*vierde button */
main section:nth-of-type(3) button:nth-of-type(4){
  margin-right: 0;
  margin-left: 1.3em;

}

main section:nth-of-type(3) button img {
  height: 1.5em;
  width: 1.5em;
}


section:nth-of-type(4) {
  height: 26em;
  margin-bottom: 10em;
  width: 100%;
}

/* De gehele lijst */
section:nth-of-type(4) ul {
  display: flex;
}

/* De elementen in de lijst */
section:nth-of-type(4) ul li {
  width: 50%;
  flex-shrink: 0;
  background-color: white;
  border: 1px solid lightgrey;
  flex-shrink: 0;
  height: 20em;
}

/* product img */
section:nth-of-type(4) img {
  width: 8em;
  margin: 1em;
  margin-top: 3em;
}




/*  Trendfactory*/
section:nth-of-type(4) p:first-of-type {
  color: grey;
  margin-left: 1em;
  font-size: 13px;
}

/* Babyfootprint */
section:nth-of-type(4) p:nth-of-type(2) {
  color: #1E2D7D;
  margin-left: 1em;
  margin-top: .7em;
  font-size: 13px;
  font-family: poppins;
}

/* De prijs */
section:nth-of-type(4) p:last-of-type {
  margin-left: .8em;
  margin-top: .7em;
  color: #00BADB;
}

/*Recently viewed */

section:nth-of-type(5) h2 {
  color: #1E2D7D;
  font-family: sans-serif;
  margin-top: 48em;
  margin-left: 1em;
  font-size: 19px;
}

  /* Recently viewed */
section:nth-of-type(6) {
  margin: 1em;
  height: 26em;
  margin-bottom: 10em;
}

/* De gehele lijst */
section:nth-of-type(6) ul {
  display: flex;
  overflow-x: auto;
}

/* De elementen in de lijst */
section:nth-of-type(6) ul li {
  flex-shrink: 0;
  background-color: white;
  border: 1px solid lightgrey;
  flex-shrink: 0;
  height: 26em;
}

/* product img */
section:nth-of-type(6) img {
  width: 12em;
  margin: 1em;
}

/* save 15,00 (rode achtergrond) */
section:nth-of-type(6) p:first-of-type {
  text-align: center;
  background-color: red;
  font-family: poppins;
  color: #fff;
  border-radius: 2px;
  font-size: 13px;
  margin-top: 1em;
  width: 10em;
  padding: .1em;
}

/*  Trendfactory*/
section:nth-of-type(6) p:nth-of-type(2) {
  color: grey;
  margin-left: 1em;
  font-size: 13px;
}

/* Babyfootprint */
section:nth-of-type(6) p:nth-of-type(3) {
  color: #1E2D7D;
  margin-left: 1em;
  margin-top: .7em;
  font-size: 13px;
  font-family: poppins;
}

/* De prijs */
section:nth-of-type(6) p:last-of-type {
  margin-left: .8em;
  margin-top: .7em;
}

/* de prijs voor de twee verschillende kleuren */
section:nth-of-type(6) p:last-of-type span:first-of-type {
  color: red;
  font-size: 17px;
}

section:nth-of-type(6) p:last-of-type span:last-of-type {
  color: grey;
  margin-left: 1em;
  font-size: 13px;
  text-decoration-line: line-through;
}

/* FOOTER */

footer > hr:first-of-type {
 width: 100%;
 margin: 0;
 height: .1em;
 background-color: lightgrey;
}

 footer > button {
   border: none;
   appearance: none;
   background: none;
   color: #1E2D7D;
   margin: 2em 0 2em 1.2em;
   margin-left: 1.2em;
   font-family: poppins;
   font-size: 14px;
 }

 footer > hr:nth-of-type(2) {
   margin: 0;
   margin-left: 1.7em;
 }

 footer > hr:last-of-type {
   margin: 0;
   margin-left: 1.7em;
 }

 footer > h6 {
   color: #1E2D7D;
   margin: 2em 0 2em 1.2em;
   font-family: poppins;
   font-size: 14px;
 }

 footer > p:first-of-type {
   margin: 2em 0 2em 1.2em;
   font-size: 13px;
   color: #677279;
 }

 footer > input {
   margin: 0em 1em 0 1.2em;
   padding: 1.3em 10em 1.3em 1em;
   justify-content: center;
   align-items: center;
   border: 1px solid lightgrey;
 }
 footer > input:focus {
     outline-color: #00BADB;
 }

footer > button:last-of-type {
  color: #fff;
  font-size: 14px;
  font-family: poppins;
  padding: 1em 1.9em;
  background-color: #00BADB;
}

footer > p:nth-of-type(2) {
  font-size: 12px;
  color: #677279;
  margin: 6em 0 1em 1.2em;
}

footer > p:last-of-type {
  font-size: 12px;
  color: #677279;
  margin: 1em 0 3em 1.2em;
}



/* de prijs voor de twee verschillende kleuren */
